.filter-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

.filter-btns {
  margin-top: 12px;
  display: flex;
  gap: 12px;
  
}
