<table mat-table [dataSource]="events" class="mat-elevation-z1 full-width">

  <!-- Timestamp -->
  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef> Timestamp </th>
    <td mat-cell *matCellDef="let e"> {{ e.timestamp }} </td>
  </ng-container>

  <!-- Vehicle -->
  <ng-container matColumnDef="vehicleId">
    <th mat-header-cell *matHeaderCellDef> Vehicle </th>
    <td mat-cell *matCellDef="let e"> {{ e.vehicleId }} </td>
  </ng-container>

  <!-- Severity -->
  <ng-container matColumnDef="level">
    <th mat-header-cell *matHeaderCellDef> Severity </th>
    <td mat-cell *matCellDef="let e">
      <span class="badge" [ngClass]="e.level">{{ e.level }}</span>
    </td>
  </ng-container>

  <!-- Code -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Code </th>
    <td mat-cell *matCellDef="let e"> {{ e.code }} </td>
  </ng-container>

  <!-- Message -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef> Message </th>
    <td mat-cell *matCellDef="let e"> {{ e.message }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['timestamp','vehicleId','level','code','message']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['timestamp','vehicleId','level','code','message']"></tr>

</table>

<!-- PAGINATOR -->
<mat-paginator
  [length]="eventsResponse?.total ?? 0"
  [pageIndex]="(eventsResponse?.page ?? 1) - 1"
  [pageSize]="eventsResponse?.limit ?? 20"
  [pageSizeOptions]="[10, 20, 50, 100]"
  (page)="onPageChange($event)">
</mat-paginator>
